html {
    background-color: #1a202c;
    color: #f7fafc;

    line-height: 1.75;
}

.navbar, .navbar-block {
    display: flex;
    flex-flow: row nowrap;
}

.navbar-block {
    justify-content: space-evenly;

    width: 40%;
}

.navbar {
    justify-content: space-between;

    font-size: 1.5em;
    font-weight: bold;

    padding: 10px;

    background-color: #2b3347;
    box-shadow: 0 0.125rem 0.35rem rgb(24, 23, 23);
}

.user-related-nav {
    width: 25%;
}

.content {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    max-width:70%;
    margin: auto;
}

main {
    padding: 10px;

    width: 100%;
}

.character-list {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}

.character {
    background: #4a5568;

    width: 33%;

    box-shadow: 0 0.5rem 0.35rem rgb(24, 23, 23);

    margin: auto 20px;
    padding: 0 20px;
}

.character-details {
    line-height: 0.5;
}

